/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
section{
    width: 80vw;
    margin: 30px auto;
    height: 500px;
    border: 2px solid black;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* justify-content: space-around; */
    /* align-items: center; */
    align-items: flex-start;
    /* flex-wrap: wrap; */
    /* align-content:  space-evenly; */
}

h1{
    text-align: center;
}

div{
    width: 120px;
    height: 120px;
    border: 3px solid black;
    font-size: 3rem;
   
}

/* div:nth-of-type(3){
    align-self: flex-end;
} */
div:nth-of-type(5){
    flex-grow: 1;
    flex-basis: 250px;
    flex-shrink: 3;
}

div:nth-of-type(1){
    flex-grow: 1;
    flex-shrink: 1;
}