<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>GET vs POST</h1>

    <h2>GET</h2>

    <form action="/products" method="get">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="price">Price</label>
        <input type="number" name="price" id="price">
        <button type="submit">Submit</button>
    </form>

    <h2>POST</h2>

    <form action="/products" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="price">Price</label>
        <input type="number" name="price" id="price">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>