<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>My First EJS File</h1>
    <h2><%="helloworld".toUpperCase()%></h2>
    <h2><%= 1+2+3 %></h2>
    <h2>My random number is <%=randomNum%></h2>
    <% if(randomNum%2===0){ %> 
        <h2>Even Number</h2>
    <% }else{ %> 
        <h2>Odd Number</h2>
    <% } %> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae suscipit omnis corporis sunt distinctio harum, at debitis ratione reiciendis! Reprehenderit atque eaque pariatur corporis assumenda delectus nihil eos, dolores sit.</p>
    
</body>
</html>