<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    
    <h1>Todos</h1>
    <ul>
        <% for(let todo of todos){ %>
            <li class="todo"><%= todo.task %> <input type="checkbox" <%= todo.completed ? 'checked' : '' %> ></li>
        <% } %>
    </ul>
  
    <script src="/js/script.js"></script>
</body>
</html>